@import url("https://fonts.googleapis.com/css?family=Arvo:regular,italic,700,700italic");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular&display=swap&subset=crillic-ext");
@import url("https://fonts.googleapis.com/css?family=Lora:regular&display=swap&subset=crillic-ext");
@import url("https://fonts.googleapis.com/css?family=Oxygen:300,regular,700&display=swap");

/* &display=swap&subset=crillic-ext */
 /*  Обнуление СТИЛЕЙ */
 
 *,
 * ::before,
 * ::after {
    margin: 0;
    padding: 0;
    border: 0;
 }
li{
    list-style: none;
}

a,
a:visited{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    
    font-weight: inherit;
    font-size: inherit;
      
}

 
img {
    vertical-align: top;
}

html{
  font-size: 20px;
}
 body{
    font-family: "Roboto";
    line-height: 1;
    color: #000000;
    font-size: 30px;

 }

 .wrapper {  
    min-height: 100%;
    overflow: hidden;
    // padding: 50px;
    text-align: center;
 }

 .sait {
    width: 100%;
    // .sait__colum

    &__colum {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
// ...........................................................................................
.together {
    width: 100%;
    background: url(../img/bacgroun__1.png) 0 0 / cover no-repeat;
    // .together__colum

    &__colum {
        padding-bottom: 11.13%;
        padding-left: 2%;
        padding-right: 2%;
    }

    // .together__top

    &__top {
        margin: 0px 0px 16% 0px;
    }

    // .together__tittle

    &__tittle {
        color: #FFF;

text-align: center;
font-family: "Lora";
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 102%; 
letter-spacing: 2px;
margin: 0px 0px 2% 0px;
    }

    // .together__sub-tittle

    &__sub-tittle {
        color: rgba(255, 255, 255, 0.63);
text-align: center;
font-family: "Oxygen";
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 117.647%; 
margin: 0px 0px 2.15% 0px;
    }

    // .together__button

    &__button {
        margin: 0 auto;
        //  margin: 0px 0px 31.4% 0px;
        // justify-content: center;
        // align-items: center;
        // margin: 0px auto;
        max-width: 24%;
        p{
            padding: 7.19% 18.56%;
            color: #FFF;
text-align: center;
font-family: "Oxygen";
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 153.846%; 
        }
        color: #fff;
        border-radius: 3px;
background: #DD783F;
    }
}
.top {

    // .top__row

    &__row {
        
        display: flex;
        flex-direction: row;
  justify-content: space-around;
    }

    // .top__logo

    &__logo {
        @media (max-width:405px) {
            margin: 0px 60% 0px 0px;

        }
        @media (max-width:250px) {
            margin: 0px 40% 0px 0px;

        }
        p{
            padding: 20px 0px 0px 0px;
            color: #FFF;
font-family: "Lora";
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 100%; 
        }
    }

    // .top__menu

    &__menu {
        @media (max-width:675px) {
            margin: 0px 20% 0px 0px;
        }
        @media (max-width:405px) {
            display: none;
        }
        display: flex;
        flex-direction: row;
        column-gap: 12%;
        p{
            padding: 27px 0px 0px 0px;
            color: #FFF;
 font-family: "Oxygen";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 166.667%; 
letter-spacing: 0.6px;
text-transform: uppercase;
        }
    }
}
.button {
    // color: #FFF;

text-align: center;
font-family: "Oxygen";
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 153.846%; 
}
// ..........................................................................................
.rectangle {
    background-color: #fff;
width: 100%;
    // .rectangle__row

    &__row {
        padding: 0px 2% 0px 2%;
        display: flex;
        flex-direction: row;
     justify-content: center;
      align-items: center;
     
    }

    // .rectangle__text

    &__text {
        @media (max-width:620px) {
          flex-wrap: wrap;
          transform: translateX(0%);
        }
        transform: translateX(-50%);
        padding: 2%;
        flex-direction: row;
     justify-content: space-between;
     align-items: center;
     max-width: 90%;
        // margin: 0 auto;
         display: flex;
        
        max-width: 100%;
        // column-gap: 6.5625%;
         margin: 0px -9%;
        p{
    //  padding: 4.7855% 15.0905% 4.7855% 15.0905%;
       padding: 0px 9%;
            display: inline-flex;
            color: #768088;
text-align: center;
font-family: "Lora";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
        }
    }
}

.featured {
    background-color: #F7F7F7;
   width: 100%;
    // .featured__colum

    &__colum {
    // padding: 60px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        padding: 0px 15% 0px 15%;
        @media (max-width:828px) {
            padding: 0px 7% 0px 7%;
        }
    }

    // .featured__element

    &__element {
    }
}

.element {
    padding: 60px 0px 0px 0px;
    // .element__row

    &__row{

    }

    // .element__text

    &__text::after {
     content: "";
     width: 188px;
     height: 1px;
     background: #DEDEDE;
     margin: 0 auto;
     display: inline-block;
    }
    &__text{
        margin: 0px 0px 7px 0px;
    }
        
    }


.element {

    // .element__boxis

    &__boxis {
        margin: 0px 0px 60px 0px;
    }
}
.boxis {
    color: #fff;
    // border: 5px #f2ff364e solid;
    // .boxis__row

    &__row {
         @media (max-width: 450px) {
              flex-direction: column;
              row-gap: 10px;
         }

        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10px;
        // border: 5px #36ffab4e solid; 
        column-gap: 20px;
        margin: 0px 0px 60px 0px;
    }

    // .boxis__card

    &__card {
        flex: 0 1 50%;
 
      background: url(../img/background/background__1.png) 0 0 / cover no-repeat;

        
    }

    // .boxis__box

    &__box {
       
    }

    // .boxis__tittle

    &__tittle {
text-align: left;
    margin: 157px 0px 6px 20px;

        

        color: #FFF;
font-family: "Lora";
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: 111.111%;
    }

    // .boxis__sub-tittle

    &__sub-tittle {
        text-align: left;
        margin: 0px 0px 12px 20px;
        color: rgba(255, 255, 255, 0.70);
font-family: "Oxygen";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 178.571%; 
    }

    // .boxis__bottom

    &__bottom {
    }
}
.bottom {
margin: 0px 20px 15px 20px;
    // .bottom__row

    &__row {
        @media (max-width: 303px) {
            flex-direction: column;
            text-align: center;
       }
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    // .bottom__icon

    &__icon {
    }

    // .bottom__name

    &__name {
        @media (max-width: 303px) {
            margin: 0px 0px 0px 0px;
            text-align: center;
       }
        margin: 0px 50px 0px 0px;
        color: rgba(255, 255, 255, 0.70);
font-family: "Oxygen";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
    }

    // .bottom__date

    &__date {
        @media (max-width: 303px) {
            
            text-align: center;
       }
        color: rgba(255, 255, 255, 0.70);
font-family: "Oxygen";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
    }
}
.card-2 {
    background: url(../img/background/background__2.png) 0 0 / cover no-repeat;
}
.boxis {

    // .boxis__button

    &__button {
        
        margin: 20px 100% 0px 20px;
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        border-radius: 2px;
        background: #DD783F;
        p{
            padding: 6px 9px 7px 9px;
        }
        color: #FFF;
font-family: "Oxygen";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 108.333%; 
text-transform: uppercase;
    }
}
.tittle-2{
    margin: 111px 0px 0px 20px;
}

.main{
    background-color: #F7F7F7;
}

// ///////////////////////////////////////////////////////////////////////
.sets-2 {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    // .sets-2__colum

    &__colum {
        
        max-width: 1170px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 35px;
        margin: 0px -15px;
    }

    // .sets-2__content

    &__content {
        
        display: flex;
        flex-direction: column;
   height: 100%;
        border-radius: 5px;
        // border: 1px solid #EDEDF0;
        padding: 0px 15px;
    }

    // .sets-2__image

    &__image {
        margin: 0px 0px 5.67% 0px;
    }

    // .sets-2__tittle

    &__tittle {
         @media (max-width:250px) {
             font-size: 12px;
         }
        margin: 0px 0px 3.78% 5.67%;
        color: #292929;
        /* Montserrat semi 18 */
        font-family: "Montserrat";
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    // .sets-2__sub-tittle

    &__sub-tittle {
         @media (max-width:250px) {
            font-size: 10px;
         }
        margin: 0px 0px 5.13% 5.67%;
        color: #292929;
font-family: "Roboto";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0.8;
flex: 1 1 auto;
    }

    // .sets-2__buttom

    &__buttom {
    }

    // .sets-2__set

    &__set {
        text-align: left;
        @media (max-width:900px) {
            flex: 0 1 50%;
        }
        @media (max-width:405px) {
            flex: 0 1 100%;
        }

        flex: 0 1 33.333%;
    }
}
.sets-2-block {

    // .sets-2-block__picture

    &__picture {
    }

    // .sets-2-block__image

    &__image {
        min-width: 100%;
        object-fit: cover;
        // position: absolute;
        width: 100%;
        height: auto;
    }
// }
// . {

    // ._ibg-2

    &_ibg-2 {
    }
}

.buttom-2 {

    // .buttom-2__row

    &__row {
        display: flex;
        flex-direction: row;
    }

    // .buttom-2__red-text

    &__red-text {
         @media (max-width:250px) {
             font-size: 14px;
         }
        color: #E7426A;
        /* Montserrat semi 18 */
        font-family: "Montserrat";
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        flex: 1 1 auto;
        border-top: 1px solid #EDEDF0;
        border-right: 1px solid #EDEDF0;
        margin: 0px 0px 0px 5.67%;
        padding: 14px 0px 0px 0px;
    }
}

.basket-2 {

    // .basket-2_icon

    &_icon {
        
    }

    // .basket-2__row

    &__row {
        display: flex;
        flex-direction: row;
        padding: 17px 24px;
        // column-gap: 7.33%;
    }

    // .basket-2__black-text

    &__black-text {
        @media (max-width:588px) {
            display: none;
        }
        color: rgba(0, 0, 0, 0.88);
font-family: "Montserrat";
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
        margin: 4px 0px 0px 5px;
    }
}

.black-txt{
    @media (max-width:1180px) {
        margin: 0px 0px 0px 30%;
    }
    color: #000;
}
.bottom__row::after{
    @media (max-width:900px) {
        width: 30%;
        margin: -6.5% 0px 0px 0px;
    }
    @media (max-width:829px) {
        width: 37%;
        margin: -6.5% 0px 0px 0px;
    }
    @media (max-width:482px) {
        width: 37%;
        margin: -10% 0px 0px 0px;
    }
    @media (max-width:404px) {
        width: 79%;
        margin: -10% 0px 0px 0px;
    }

    position: absolute;
    margin: -4% 0px 0px 0px;
content: "";
display: inline-block;
width: 19%;
height: 1px;
background: #DEDEDE;
}