@import url("https://fonts.googleapis.com/css?family=Arvo:regular,italic,700,700italic");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular&display=swap&subset=crillic-ext");
@import url("https://fonts.googleapis.com/css?family=Lora:regular&display=swap&subset=crillic-ext");
@import url("https://fonts.googleapis.com/css?family=Oxygen:300,regular,700&display=swap");

/* &display=swap&subset=crillic-ext */
 /*  Обнуление СТИЛЕЙ */
 
 *,
 * ::before,
 * ::after {
    margin: 0;
    padding: 0;
    border: 0;
 }
li{
    list-style: none;
}

a,
a:visited{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    
    font-weight: inherit;
    font-size: inherit;
      
}

 
img {
    vertical-align: top;
}

html{
  font-size: 20px;
}
 body{
    font-family: "Roboto";
    line-height: 1;
    color: #000000;
    font-size: 30px;

 }

 .wrapper {  
    min-height: 100%;
    overflow: hidden;
    // padding: 50px;
    text-align: center;
 }

 .sait {
    width: 100%;
    // .sait__colum

    &__colum {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
// ...........................................................................................
.together {
    width: 100%;
    background: url(../img/bacgroun__1.png) 0 0 / cover no-repeat;
    // .together__colum

    &__colum {
        padding-bottom: 11.13%;
        padding-left: 2%;
        padding-right: 2%;
    }

    // .together__top

    &__top {
        margin: 0px 0px 16% 0px;
    }

    // .together__tittle

    &__tittle {
        color: #FFF;

text-align: center;
font-family: "Lora";
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 102%; 
letter-spacing: 2px;
margin: 0px 0px 2% 0px;
    }

    // .together__sub-tittle

    &__sub-tittle {
        color: rgba(255, 255, 255, 0.63);
text-align: center;
font-family: "Oxygen";
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 117.647%; 
margin: 0px 0px 2.15% 0px;
    }

    // .together__button

    &__button {
        margin: 0 auto;
        //  margin: 0px 0px 31.4% 0px;
        // justify-content: center;
        // align-items: center;
        // margin: 0px auto;
        max-width: 24%;
        p{
            padding: 7.19% 18.56%;
            color: #FFF;
text-align: center;
font-family: "Oxygen";
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 153.846%; 
        }
        color: #fff;
        border-radius: 3px;
background: #DD783F;
    }
}
.top {

    // .top__row

    &__row {
        
        display: flex;
        flex-direction: row;
  justify-content: space-around;
    }

    // .top__logo

    &__logo {
        @media (max-width:405px) {
            margin: 0px 60% 0px 0px;

        }
        @media (max-width:250px) {
            margin: 0px 40% 0px 0px;

        }
        p{
            padding: 20px 0px 0px 0px;
            color: #FFF;
font-family: "Lora";
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 100%; 
        }
    }

    // .top__menu

    &__menu {
        @media (max-width:675px) {
            margin: 0px 20% 0px 0px;
        }
        @media (max-width:405px) {
            display: none;
        }
        display: flex;
        flex-direction: row;
        column-gap: 12%;
        p{
            padding: 27px 0px 0px 0px;
            color: #FFF;
 font-family: "Oxygen";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 166.667%; 
letter-spacing: 0.6px;
text-transform: uppercase;
        }
    }
}
.button {
    // color: #FFF;

text-align: center;
font-family: "Oxygen";
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 153.846%; 
}
// ..........................................................................................
.rectangle {
    
width: 100%;
    // .rectangle__row

    &__row {
        padding: 0px 2% 0px 2%;
        display: flex;
        flex-direction: row;
     justify-content: center;
      align-items: center;
     
    }

    // .rectangle__text

    &__text {
        @media (max-width:620px) {
          flex-wrap: wrap;
          transform: translateX(0%);
        }
        transform: translateX(-50%);
        padding: 2%;
        flex-direction: row;
     justify-content: space-between;
     align-items: center;
     max-width: 90%;
        // margin: 0 auto;
         display: flex;
        
        max-width: 100%;
        // column-gap: 6.5625%;
         margin: 0px -9%;
        p{
    //  padding: 4.7855% 15.0905% 4.7855% 15.0905%;
       padding: 0px 9%;
            display: inline-flex;
            color: #768088;
text-align: center;
font-family: "Lora";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
        }
    }
}

.featured {
   width: 100%;
    // .featured__colum

    &__colum {
        display: flex;
        flex-direction: column;
        padding: 0px 15% 0px 15%;
    }

    // .featured__element

    &__element {
    }
}
.element {

    // .element__row

    &__row {
    }

    // .element__text

    &__text {
        margin: 0px 0px 2% 0px;
        p{
            color: #2E2E2E;
text-align: center;
font-family: "Oxygen";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 135%; 
letter-spacing: 2px;

padding: 0px 0px 2% 0px;
        }
    }

    // .element__boxis

    &__boxis {
    }
}
.boxis {

    // .boxis__row

    &__row {
        column-gap: 2.6%;
        display: flex;
        flex-direction: row;
        justify-content: center;
         align-items: baseline;
        
    }

    // .boxis__card

    &__card {
        flex: 0 1 50%;
        max-height: 280px;
    }

    // .boxis__box

    &__box {
        max-height: 280px;
        // max-height: 280px;
         flex: 1;
        background: url(../img/background/background__1.png) 0 0 / cover no-repeat;
    }

    // .boxis__tittle

    &__tittle {
        text-align: left;
        margin: 0px 0px 0.6% 4.34%;
          padding: 56.07% 0px 0px 0px;
        color: #FFF;
font-family: "Lora";
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: 111.111%; 
    }

    // .boxis__sub-tittle

    &__sub-tittle {
        margin: 0px 0px 4.28% 4.34%;
        text-align: left;
        color: rgba(255, 255, 255, 0.70);
font-family: "Oxygen";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 178.571%; 
    }

    // .boxis__bottom

    &__bottom {
        margin: 0px 4.34% 0px 4.34%;

    }
    // .boxis__button
    // &__button {

    // }


}
.bottom {

    // .bottom__row

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    // .bottom__icon

    &__icon {
    }

    // .bottom__name

    &__name {
        margin: 0px 0px 0px -20%;
        color: rgba(255, 255, 255, 0.70);
font-family: "Oxygen";
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 318.182%; 
flex: 0 1 auto;
    }

    // .bottom__date

    &__date {
        color: rgba(255, 255, 255, 0.70);
font-family: "Oxygen";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 291.667%; 

    }
}

.box-2{
    background: url(../img/background/background__2.png) 0 0 / cover no-repeat;
}