@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Arvo:regular,italic,700,700italic");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular&display=swap&subset=crillic-ext");
@import url("https://fonts.googleapis.com/css?family=Lora:regular&display=swap&subset=crillic-ext");
@import url("https://fonts.googleapis.com/css?family=Oxygen:300,regular,700&display=swap");
/* &display=swap&subset=crillic-ext */
/*  Обнуление СТИЛЕЙ */
*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html {
  font-size: 20px;
}

body {
  font-family: "Roboto";
  line-height: 1;
  color: #000000;
  font-size: 30px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  text-align: center;
}

.sait {
  width: 100%;
}
.sait__colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.together {
  width: 100%;
  background: url(../img/bacgroun__1.png) 0 0/cover no-repeat;
}
.together__colum {
  padding-bottom: 11.13%;
  padding-left: 2%;
  padding-right: 2%;
}
.together__top {
  margin: 0px 0px 16% 0px;
}
.together__tittle {
  color: #FFF;
  text-align: center;
  font-family: "Lora";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 102%;
  letter-spacing: 2px;
  margin: 0px 0px 2% 0px;
}
.together__sub-tittle {
  color: rgba(255, 255, 255, 0.63);
  text-align: center;
  font-family: "Oxygen";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 117.647%;
  margin: 0px 0px 2.15% 0px;
}
.together__button {
  margin: 0 auto;
  max-width: 24%;
  color: #fff;
  border-radius: 3px;
  background: #DD783F;
}
.together__button p {
  padding: 7.19% 18.56%;
  color: #FFF;
  text-align: center;
  font-family: "Oxygen";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 153.846%;
}

.top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 405px) {
  .top__logo {
    margin: 0px 60% 0px 0px;
  }
}
@media (max-width: 250px) {
  .top__logo {
    margin: 0px 40% 0px 0px;
  }
}
.top__logo p {
  padding: 20px 0px 0px 0px;
  color: #FFF;
  font-family: "Lora";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.top__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 12%;
     -moz-column-gap: 12%;
          column-gap: 12%;
}
@media (max-width: 675px) {
  .top__menu {
    margin: 0px 20% 0px 0px;
  }
}
@media (max-width: 405px) {
  .top__menu {
    display: none;
  }
}
.top__menu p {
  padding: 27px 0px 0px 0px;
  color: #FFF;
  font-family: "Oxygen";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.button {
  text-align: center;
  font-family: "Oxygen";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 153.846%;
}

.rectangle {
  background-color: #fff;
  width: 100%;
}
.rectangle__row {
  padding: 0px 2% 0px 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rectangle__text {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 2%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin: 0px -9%;
}
@media (max-width: 620px) {
  .rectangle__text {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
}
.rectangle__text p {
  padding: 0px 9%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #768088;
  text-align: center;
  font-family: "Lora";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.featured {
  background-color: #F7F7F7;
  width: 100%;
}
.featured__colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 15% 0px 15%;
}
@media (max-width: 828px) {
  .featured__colum {
    padding: 0px 7% 0px 7%;
  }
}
.element {
  padding: 60px 0px 0px 0px;
}
.element__text::after {
  content: "";
  width: 188px;
  height: 1px;
  background: #DEDEDE;
  margin: 0 auto;
  display: inline-block;
}
.element__text {
  margin: 0px 0px 7px 0px;
}

.element__boxis {
  margin: 0px 0px 60px 0px;
}

.boxis {
  color: #fff;
}
.boxis__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  margin: 0px 0px 60px 0px;
}
@media (max-width: 450px) {
  .boxis__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }
}
.boxis__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background: url(../img/background/background__1.png) 0 0/cover no-repeat;
}
.boxis__tittle {
  text-align: left;
  margin: 157px 0px 6px 20px;
  color: #FFF;
  font-family: "Lora";
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 111.111%;
}
.boxis__sub-tittle {
  text-align: left;
  margin: 0px 0px 12px 20px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Oxygen";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 178.571%;
}
.bottom {
  margin: 0px 20px 15px 20px;
}
.bottom__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 303px) {
  .bottom__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
.bottom__name {
  margin: 0px 50px 0px 0px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Oxygen";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 303px) {
  .bottom__name {
    margin: 0px 0px 0px 0px;
    text-align: center;
  }
}
.bottom__date {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Oxygen";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 303px) {
  .bottom__date {
    text-align: center;
  }
}

.card-2 {
  background: url(../img/background/background__2.png) 0 0/cover no-repeat;
}

.boxis__button {
  margin: 20px 100% 0px 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 2px;
  background: #DD783F;
  color: #FFF;
  font-family: "Oxygen";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 108.333%;
  text-transform: uppercase;
}
.boxis__button p {
  padding: 6px 9px 7px 9px;
}

.tittle-2 {
  margin: 111px 0px 0px 20px;
}

.main {
  background-color: #F7F7F7;
}

.sets-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sets-2__colum {
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 35px;
  margin: 0px -15px;
}
.sets-2__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  border-radius: 5px;
  padding: 0px 15px;
}
.sets-2__image {
  margin: 0px 0px 5.67% 0px;
}
.sets-2__tittle {
  margin: 0px 0px 3.78% 5.67%;
  color: #292929;
  /* Montserrat semi 18 */
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 250px) {
  .sets-2__tittle {
    font-size: 12px;
  }
}
.sets-2__sub-tittle {
  margin: 0px 0px 5.13% 5.67%;
  color: #292929;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 250px) {
  .sets-2__sub-tittle {
    font-size: 10px;
  }
}
.sets-2__set {
  text-align: left;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
@media (max-width: 900px) {
  .sets-2__set {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 405px) {
  .sets-2__set {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.sets-2-block__image {
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}
.buttom-2__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.buttom-2__red-text {
  color: #E7426A;
  /* Montserrat semi 18 */
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-top: 1px solid #EDEDF0;
  border-right: 1px solid #EDEDF0;
  margin: 0px 0px 0px 5.67%;
  padding: 14px 0px 0px 0px;
}
@media (max-width: 250px) {
  .buttom-2__red-text {
    font-size: 14px;
  }
}

.basket-2__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 17px 24px;
}
.basket-2__black-text {
  color: rgba(0, 0, 0, 0.88);
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 4px 0px 0px 5px;
}
@media (max-width: 588px) {
  .basket-2__black-text {
    display: none;
  }
}

.black-txt {
  color: #000;
}
@media (max-width: 1180px) {
  .black-txt {
    margin: 0px 0px 0px 30%;
  }
}

.bottom__row::after {
  position: absolute;
  margin: -4% 0px 0px 0px;
  content: "";
  display: inline-block;
  width: 19%;
  height: 1px;
  background: #DEDEDE;
}
@media (max-width: 900px) {
  .bottom__row::after {
    width: 30%;
    margin: -6.5% 0px 0px 0px;
  }
}
@media (max-width: 829px) {
  .bottom__row::after {
    width: 37%;
    margin: -6.5% 0px 0px 0px;
  }
}
@media (max-width: 482px) {
  .bottom__row::after {
    width: 37%;
    margin: -10% 0px 0px 0px;
  }
}
@media (max-width: 404px) {
  .bottom__row::after {
    width: 79%;
    margin: -10% 0px 0px 0px;
  }
}